/*  Tabs
------------------------*/
.tabs{
  width:100%;
  display:block;
}
.tabs .tab{
  display:none;
  height:auto;
}
.tabs .tab-active{
  display:inline-block;
}
.tabs .tab-open{
	background-color: 0000;
	display: block;
	padding: 10px;
	width: 290px;
	height:388;
}
.tabs ul{
  list-style-type:none;
  margin:0;
  padding:0;
}
.tabs ul li{
  display:inline-block;
  margin:0;
  padding:0;
}
.tabs ul li a{
	background-color: #FFF;
	text-decoration: none;
	padding: 9px;
	display: block;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;  /* border-radius: 4px 4px 0 0; */
}
.tabs ul li.tab-active a{
background: #000000;
color: #FFF;

} 
